button {
  height: 3rem;
  width: 15rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: var(--color-white);
  font-size: 1.125rem;
  cursor: pointer;
}

button.button-primary{
  background-color: var(--primary-blue);
}

button.button-secondary{
  background-color: var(--secondary-red); 
}

@media screen and (min-width: 1300px){
  button{
    height: 3.8rem;
    font-size: 1.4rem;
  }
}