.title-container{
  display: grid;
  place-items: center;
}

.title{
  color: #51B6D4;
  font-weight: 700;
  font-size: 2.25rem;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 1500px){
  .title{
  font-size: 4rem;
  }
}